*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'josefin Sans',sans-serif;
}
.about{
width:100%;
height:100vh;
background-color: #161922;
display: flex;
justify-content: center;
align-items: center;
}
.about .content img{
    height:auto;
    width: 600px;
    max-width: 100%;
}
.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;

}
.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text h1{
color:#DFFF00;
    /* color: #ffcc74;  */
    font-size: 85px;
     margin-bottom: 20px; 
     text-transform: capitalize;
}
    .text h5{
    
    color: white;
    
    font-size: 25px;
    
    margin-bottom: 25px;
    
    text-transform: capitalize; 
    Letter-spacing: 2px;
    }
    .text p{ 
        color:#c0c4d6;
    
    font-size: 18px;
     Line-height: 28px;
    
    Letter-spacing: 1px; margin-bottom: 45;
    }
    @media screen and (max-width:1180px) {
        .about{
            width: 100%;
            height: auto;
            padding :70px 0px;
        }
    }
    @media screen  and (max-width:650px){
        .about .content img{
            margin-bottom: 35px;
        }
        .text h1{
            font-size: 60px;
            margin-bottom: 25px;
        }
    }